html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

li {
  margin-bottom: 10px;
}
